<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">

    <Properties>
        <Property name="logdir">C:/shareboard_tmp/log</Property>
        <Property name="layout">%d %-5p  [%c{1}]: %m%n</Property>
    </Properties>

    <Appenders>

        <RollingFile name="LOCALHOST"
                     fileName="${logdir}/localhost.log"
                     filePattern="${logdir}/localhost.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="controller.Home"
                level="info" additivity="false">
            <AppenderRef ref="LOCALHOST" />
        </Logger>
        <Logger name="model.persistence.StatementSetters"
                level="debug" additivity="false">
            <AppenderRef ref="LOCALHOST" />
        </Logger>

        <Root level="error">
        </Root>

    </Loggers>
</Configuration>