:root{
    --background-main-color: black;
    --shareboard-container-1: #1A1A1B;
    --shareboard-container-2: #272729;
    --shareboard-border-color1:#313132;
}

body{
    background-color: var(--background-main-color);
    font-family: Verdana;
    color: white;
    height:3000px;
}

a{
    color:white;
    text-decoration: none;
}

a:visited {color:white;}
a:hover {color:white;}
a:active {color:white;}

footer {
    left: 0;
    right: 0;
    background-color: var(--shareboard-container-1);
    text-align: center;
}

navbar{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: var(--shareboard-container-1);
    display:flex;
    justify-content: space-between;
    border-bottom-color: #313132;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

navbar *{
    align-items: center;
}

#search-icon{
    position: relative;
    left:30px;
}

#nav-search{
    flex:70%;
}

#nav-search form{
    display:flex;
    /*flex:2;*/
    flex-grow: 1;
    width: 100%;
}

#nav-search input{
    background-color: var(--shareboard-container-2);
    border-color: #868789;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px;
    height:36px;
    color: #868789;
    outline: none;
    padding: 0 16px 0 40px;
    /*width: 100%;*/
    flex-grow: 0.9;
}

#nav-search input:hover, #nav-search input::selection{
    border-color: #c3c3c3;
}

#left{
    display: inline-flex;
    margin-left: 25px;
    align-items: center;
    flex:75%;
}

#logo-current{
    display: flex;
    align-items: center;
    margin-right: 50px;

}

#nav-logo{
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
}

#nav-crt-sctn{
    margin-right: 36px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px;
    border-color: rgba(134, 135, 137, 0);
}

#nav-crt-sctn:hover{
    border-color: #868789;
    /*border-radius: 5px;*/
    /*border-style: solid;*/
    /*border-width: 1px 1px;*/
}

#nav-profile{
    display: inline-flex;
    margin-right: 50px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
    /*border-left-width: 1px;*/
    /*border-left-style: dashed;*/
    /*border-left-color: #868789;*/
    /*flex:30%;*/
}

#nav-profile-photo{
    display:inline-block;
    margin-bottom:0px;
    font-size: 30px;
}

#nav-profile-data{
    display:inline-block;
}

@media screen and (max-width: 480px) {
    #nav-profile-data{
        display:none;
    }

    #left{
        margin-left: 10px;
    }

    #nav-profile{
        margin-right: 10px;
    }

    #nav-logo h3{
        display:none;
    }
}

.roundButton{
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    font-family: Noto Sans,Arial,sans-serif;
    padding: 4px 16px 4px 16px;
    border-style: solid;
    min-height: 32px;
    min-width: 32px;
}

.lightGreyButton{
    background-color: #d7dadc;
    color:#1A1A1B;
}

.lightGreyButton:hover{
    background-color: #a5a5ae;
}

.darkGreyButton{
    background-color:  var(--shareboard-container-1);
    border-color: #d7dadc;
    color:white;
}

.darkGreyButton:hover{
    background-color: #242323;
}

.button-container{
    display:inline-flex;
    justify-content: space-between;
    flex-flow: row;
}

#profile-container{
    display:inline-flex;
    justify-content:center;
    /*flex-direction: column;*/
}

#body-container{
    display: flex;
    margin-top: 80px;
    /*align-items: center;*/
    flex-direction: row;
    /*margin: 0 auto;*/
}

#left-container{
    display:flex;
    justify-content:center;
    flex-direction: column;
    flex:70%;
    margin-left: 25px;
    margin-right: 25px;
}

#filter{
    margin-bottom:25px;
}

#filter *{
    padding: 12px 12px;
    margin: 5px 10px 5px 5px;
}

#filter a:hover{
    margin-right: 10px;
    background-color: #868789;
    border-radius: 4px;
}

.post{
    display: flex;
    align-content: center;
    border-bottom-style: none;
    border-radius:unset !important;
}

.post:hover {
    border-color: #c3c3c3;
}


#post-container *{
    align-items: center;
}

#post-container:first-child{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.greyContainer{
    background-color: var(--shareboard-container-1);
    border-color: var(--shareboard-border-color1);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px;
    /*padding: 10px 12px;*/
}
