body{
    background-color: black;
    font-family: Verdana;
    color: white;
    height:3000px;
}

navbar{
    /*flex: 0;*/
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    /*z-index: 80;*/
    z-index: 1;
    /*margin-top: 0;*/
    background-color: #1A1A1B;
    display:flex;
    justify-content: space-between;
}

footer {
    left: 0;
    right: 0;
    background-color: #1A1A1B;
    text-align: center;
}

navbar a{
    color:white;
    text-decoration: none;
}

navbar a:visited {color:white;}
navbar a:hover {color:white;}
navbar a:active {color:white;}


.test{
    position: relative;
    left:30px;
}

#nav-search{
    flex:70%;
}

#nav-search form{
    display:flex;
    /*flex:2;*/
    flex-grow: 1;
    width: 100%;
}

#nav-search input{
    background-color: #272729;
    border-color: #868789;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px;
    height:36px;
    color: #868789;
    outline: none;
    padding: 0 16px 0 40px;
    /*width: 100%;*/
    flex-grow: 0.9;
}

#nav-search input:hover, #nav-search input::selection{
    border-color: #c3c3c3;
}

#left{
    display: inline-flex;
    margin-left: 50px;
    align-items: center;
    flex:80%;
}

#left *{
    align-items: center;
}

#logo-current{
    display: flex;
    align-items: center;
    flex:15%;
    /*justify-content: space-between;*/
}

#nav-logo{
    display: inline-flex;
    align-items: center;
    flex:10%;
    flex-grow: 0.1;
    flex-shrink: 0.1;
}

#nav-crt-sctn{
    flex:10%;
}

#nav-crt-sctn:hover{
    border-color: #868789;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px;
}

#nav-profile{
    display: inline-flex;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    /*flex:30%;*/
}

.lightGreyButton{
    background-color: #d7dadc;
    border-radius: 10px;
    color:#1A1A1B;
    padding: 4px 16px 4px 16px;
}

.lightGreyButton:hover{
    background-color: #a5a5ae;
}

.darkGreyButton{
    background-color: #1A1A1B;
    border-radius: 10px;
    border-color: #d7dadc;
    color:white;
    padding: 4px 16px 4px 16px;
    text-align: center;
}

.darkGreyButton:hover{
    background-color: #242323;
}

.button-container{
    display:inline-flex;
    justify-content: space-between;
    flex-flow: row;
}

#container{
    display: flex;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
}

#left-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4;
    top: 48px;
}

#post-container{
    flex:80%;
    heigh:100%;
    border-radius: 10px;
    border-color: #868789;
}

#filter{
    flex:100%;
}

.greyContainer{
    background-color: #1A1A1B;
    border-color: #868789;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px;
    padding: 10px 20px 10px 20px;
}

/*@media screen and (min-width: 480px) {*/
/*    #nav-profile {*/
/*        display:none;*/
/*    }*/
/*}*/